<div class="container">
  {{#each book}}
    {{#unless this.is_available}}
      <div class="book">
        <div class="image-container">
          <img class="book_image" src="https://covers.oreillystatic.com/images/0636920015956/lrg.jpg" alt="">
        </div>
        <div class='content'>
          <p class="id">{{this.id}}</p>
          <h2 class="name">{{this.name}}</h2>
          <p class="author-id">{{this.author_id}}</p>
          <p class="release-date">{{this.release_date}}</p>
          <p class="category">{{this.category}}</p>
          <p class="description">{{this.book_description}}</p>
          <button class="reserveBtn">un reserve</button>
        </div>
      </div>
    {{/unless}}
  {{/each}}
</div>